<div class="jumbotron" id="new-garden-jumbotron">
    <h1 class="display-4" id="home-title">New Garden</h1>
    <p class="lead" id="jumbotron-text">
			<em>"If you have a garden and a library, you have everything you need."</em></p>
    <p id="jumbotron-text">- Marcus Tullius Cicero</p>
    
</div>

<br>
<div class="container">
  <%= render 'form', garden: @garden %>
</div>
