<div class="jumbotron">
    <h1 class="display-4" id="home-title">My GardenBook</h1>
    <p class="lead" id="jumbotron-text">
			<em>"Gardens are not made by singing 'Oh, how beautiful,' and sitting in the shade."</em></p>
    <p id="jumbotron-text">- Rudyard Kipling</p>
    <%= link_to "New Garden", new_garden_path, class: "btn btn-light btn-lg", id: "new-buttons"%>
    <%= link_to "New Collection", new_collection_path, class: "btn btn-light btn-lg", id: "new-buttons"%>
    <%= link_to "New Plant", new_plant_path, class: "btn btn-light btn-lg", id: "new-buttons"%>
</div>
